body{
  margin: 0;
  text-align: center;
  color: #40514E;
}

a{
  color: #11AAAE;
  font-family: 'Shadows Into Light Two', cursive;
  margin: 0 10px 0;
  text-decoration: none;
}

a:hover{
  color: rgb(27, 6, 71);
  font-family: monospace;
  text-decoration: none;
}

h1{
  color: #000;
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 3.125rem;
}

h2{
  color: #66BFBF;
  font-family: 'Shadows Into Light Two', cursive;
  margin: 10px auto 10px;
}

h3{
  color: #8811FF;
  font-family: 'Economica', monospace;
  font-weight: normal;
}

hr{
  border: dotted #E4F9F5 6px;
  width: 5%;
  margin: 50px auto 50px;
  border-top: none;
}

p, ul{
  font-family: 'Economica', sans-serif;
  line-height: 2;
}

.bio{
  width: 30%;
  margin: auto;
}

.bottom-cloud{
  width: 100px;
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.bottom-container{
  margin: 50px 50% 0;
  padding: 30px 0 20px;
  background-color: #11CDD4;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #119994);
  background-image: -moz-linear-gradient(top, #11CDD4, #119994);
  background-image: -ms-linear-gradient(top, #11CDD4, #119994);
  background-image: -o-linear-gradient(top, #11CDD4, #119994);
  background-image: linear-gradient(to bottom, #11CDD4, #119994);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Economica', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30ECBE;
  background-image: -webkit-linear-gradient(top, #30ECBE, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30ECBE, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30ECBE, #2BC4AD);
  background-image: -o-linear-gradient(top, #30ECBE, #2BC4AD);
  background-image: linear-gradient(to bottom, #30ECBE, #2BC4AD);
  text-decoration: none;
}

.contact-me{
  margin-top: 50px;
}

.contact-message{
  width: 30%;
  margin: 5px auto 30px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}

.float-image-left{
  width: 25%;
  margin-right: 30px;
}

.float-image-right{
  width: 25%;
  border-radius: 50%;
  border: solid 10px #E4F9F5;
  float: right;
  margin-left: 30px;
}

.modal-login {
		color: #636363;
		width: 350px;
  }
  
.modal-login .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
  }
  
.modal-login .modal-header {
		border-bottom: none;
		position: relative;
		justify-content: center;
  }
  
.modal-login h4 {
		text-align: center;
		font-size: 26px;
  }
  
.modal-login  .form-group {
		position: relative;
  }
  
.modal-login i {
		position: absolute;
		left: 13px;
		top: 11px;
		font-size: 18px;
  }
  
.modal-login .form-control {
		padding-left: 40px;
  }
  
.modal-login .form-control:focus {
		border-color: #00ce81;
  }
  
.modal-login .form-control, .modal-login .btn {
		min-height: 40px;
		border-radius: 3px; 
  }
  
.modal-login .hint-text {
		text-align: center;
		padding-top: 10px;
  }
  
.modal-login .close {
        position: absolute;
		top: -5px;
		right: -5px;
  }
  
.modal-login .btn {
		background: #00ce81;
		border: none;
		line-height: normal;
  }
  
.modal-login .btn:hover, .modal-login .btn:focus {
		background: #00bf78;
	}
	
.modal-login .modal-footer a {
		color: #999;
    }
.modal-title{
        margin-top: 10px;
		margin-left: 10px;
		font-family: 'Sacramento', cursive;
		font-weight: 300px;
		font-size: 3.125rem;
	}

.profile-pic{
  margin:10px 0 20px;
  width: 300px;
  height:300px;
  border: solid 10px #66BFBF;
  border-radius: 50%;
}

.skill-row{
  width: 50%;
  margin: 20px auto 100px auto;
  text-align: justify;
}

.skills{
  margin-top:30px;
}

.top-container{
  background-image: url("https://res.cloudinary.com/eazytoby/image/upload/v1575580341/bg-image_bw65um.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
/* background-color: #E4F9F5; */
position: relative;
padding-top: 100px;
}


	



 